// **** DESCRIPTION **** //
// ===================== //

.description{
    padding: 20vh 20vw;
    width: 100%;
    @media screen and (max-width : 900px) {
        padding: 20vh 10vw;
    }
    p{
        margin: 50px 0;
        text-align: justify;
        span{
            display: block;
            margin: 20px 0;
        }
    }
    .iim-classement{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        img{
            width: 150px;
        }
    }
}