
.testimonials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    @media screen and (max-width : 700px) {
        justify-content: flex-start;
    }
    .testimonials{
        width: 80%;
        .divider{
            width: 40%;
            height: 2px;
            background: $color-linear;
            display: block;
            margin: 20px auto;
        }
    }
}