// **** VARIABLES **** //
// =================== //

// Main colors
$color-white: #fff;
$color-black: #333;
$color-linear: linear-gradient(0.25turn, orange, red);
$color-linear-invert: linear-gradient(-0.25turn, orange, red);

// Dimensions / Position
$radius-M: 5px;
$radius-XL: 10px;

// Fonts
$font-roboto: 'Roboto', sans-serif;