*, *::after, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 900;
  color: #fff;
  font-size: calc(25px + 1vw);
}

h2 {
  font-weight: 300;
  color: #fff;
  font-size: calc(15px + 0.5vw);
}

h3 {
  font-weight: 900;
  font-size: calc(25px + 1vw);
  background: linear-gradient(0.25turn, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 50px 0;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

span {
  font-size: 1rem;
  font-weight: 300;
}

button {
  font-weight: 400;
}

button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(0.25turn, orange, red);
}
button:hover {
  background: linear-gradient(-0.25turn, orange, red);
}

.cards-testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .cards-testimonials {
    flex-direction: column;
  }
  .cards-testimonials img {
    margin: 50px 0;
  }
}
.cards-testimonials img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.cards-testimonials .text {
  margin-left: 30px;
}
@media screen and (max-width: 700px) {
  .cards-testimonials .text {
    margin-left: 0px;
  }
}
.cards-testimonials .text span {
  display: block;
  text-align: end;
  margin-top: 20px;
}

header {
  height: 10vh;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header img {
  height: 100%;
}

.hero {
  background: url("../../images/background_IIM.png") no-repeat center center;
  background-size: cover;
  height: 90vh;
  min-height: 550px;
  display: grid;
  grid-template-columns: 40% 60%;
}
@media screen and (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    min-height: 900px;
  }
}
.hero .titles {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 20%;
}
.hero .titles .line {
  width: 50%;
  height: 2px;
  background: linear-gradient(0.25turn, orange, red);
  margin: 20px 0;
}
.hero .titles h2 {
  width: 60%;
  min-width: 300px;
}
@media screen and (max-width: 900px) {
  .hero .titles {
    padding-left: 0;
    align-items: center;
  }
  .hero .titles .line {
    width: 20%;
  }
  .hero .titles h2 {
    text-align: center;
  }
}
.hero .container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container-form form {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ffffffb7;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  width: 400px;
}
@media screen and (max-width: 900px) {
  .hero .container-form form {
    width: 300px;
  }
}
.hero .container-form form h2 {
  color: #333;
  font-weight: 700;
  font-size: 20px;
}
.hero .container-form form label {
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}
.hero .container-form form input, .hero .container-form form select {
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  color: #333;
}
.hero .container-form form input::placeholder, .hero .container-form form select::placeholder {
  color: #333;
}
.hero .container-form form button {
  margin-top: 30px;
  width: fit-content;
  align-self: flex-end;
}

.description-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .description-container {
    padding: 50px 0;
    justify-content: flex-start;
    height: fit-content;
  }
}
.description-container .description {
  width: 80%;
}
.description-container .description p {
  margin-bottom: 50px;
  text-align: justify;
}
.description-container .description p span {
  display: block;
  margin: 20px 0;
}
.description-container .description .iim-classement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.description-container .description .iim-classement img {
  width: 150px;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
@media screen and (max-width: 700px) {
  .testimonials-container {
    justify-content: flex-start;
  }
}
.testimonials-container .testimonials {
  width: 80%;
}
.testimonials-container .testimonials .divider {
  width: 40%;
  height: 2px;
  background: linear-gradient(0.25turn, orange, red);
  display: block;
  margin: 20px auto;
}

/*# sourceMappingURL=main.css.map */
